<!--views/product.html-->
<!DOCTYPE html>
<html>
<head>
    <title>Red Tea Pot 250ml</title>
</head>
<body>
    <h1>Red Tea Pot 250ml</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. </p>
    <p>Price : <strong>23.99</strong> $</p>
    <h2>Delivery options</h2>
        <ul>
            <li>Express + 2$ </li>
            <li>Ultra Express + 5$</li>
            <li>Normal</li>
        </ul>
    <h3>This was a {{.}}</h3>
</body>

</html>